/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;700&display=swap');

/* resetting css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */
:root {
  --darkBlue: rgb(19, 33, 112);
  --darkRed: rgb(223, 37, 37);
  --lightYellow: rgb(242, 218, 120);
  --borderColor: rgba(0, 0, 0, 0.14);
  --bgBlue: rgb(228, 248, 248);
}

/* js class */
/* .d-none {
  display: none;
} */

.yellow {
  background-color: var(--lightYellow);
}

/* body */
body {
  font-family: 'Sora', sans-serif;
  text-align: justify;
}

.container {
  max-width: 550px;
  margin: auto;
  padding: 50px;
}

.bold {
  font-weight: bold;
}

/* header */
header h1 {
  text-align: center;
  color: var(--darkRed);
}

header p {
  margin: 1em 0;
}

/* data-section */
.data-section h3 {
  color: var(--darkBlue);
  font-size: 15px;
  margin: 15px 0 5px 0;
}

.data-section [type="number"] {
  padding: 5px 0 5px 5px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  font-weight: bold;
}

.data-section [type="submit"] {
  margin-top: 1em;
  color: white;
  background-color: var(--darkBlue);
  border: none;
  border-radius: 1em;
  padding: 12px;
  width: 30%;
  text-align: center;
}

.data-section [type="submit"]:hover {
  opacity: 0.9;
  transition-duration: 0.3s;
}

section .incomplete-data {
  margin-top: 10px;
  color: red;
  text-align: left;
  font-size: 16px;
  font-size: 1.2em;
}


/* section table-container */
.table-container {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid var(--borderColor);
  background-color: var(--bgBlue);
}

.table-container h2 {
  color: var(--darkBlue);
}

.table-container p {
  margin-top: 1em;
}

.table-container table {
  width: 100%;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  border-collapse: collapse;
}

.table-container table tr th {
  padding: 6px;
  background-color: var(--darkBlue);
  color: white;
}

.table-container table tr td {
  padding: 10px;
  border-bottom: 1px solid var(--borderColor);
}

.footer-note {
  font-size: 12px;
  font-family: serif;
}